

<!-- <form >
    <input type="file" class="form-control" (change)="uploadfile($event)" name="file" id="">
    <input class="btn btn-primary" type="submit" value="Save">
</form> -->



<div class="container-fluid">
    <div class="row">
      <div class="col-3 bg-light">
        Left sidebar content here -->
      </div>
      <div class="col-6">
       Tree component and home content here -->
      </div>
      <div class="col-3 bg-light">
        Right sidebar content here -->
      </div>
    </div>
  </div>