<div class="container-fluid">

  <div class="row">
    <div class="col-3  sidebar">
      <app-sidbar></app-sidbar>
    </div>
    <div class="col-6 home-content" style="position: sticky;">

            <!-- Search  -->
            <br><br><br>
            <form id="search-form">
              <input type="text" class="search" (input)="search($event)" placeholder="Search...">
              <button type="submit">Go</button>
            </form>
            <div class="container" style="text-align: center;" *ngIf="this.nothing">
              <br><br>
              <div class="card text-left center">
                <img width="100" class="card-img-top" src="../../../assets/icon/not-found.svg" alt="">
                <div class="card-body">
                  <h4 class="card-title">Nothing Found</h4>
                </div>
              </div>
            </div>
            
      <!--  Search -->
      
      <ng-container *ngFor="let item of allpost">

        <div class="post-container animate__animated animate__bounceIn" *ngIf="item.type == 'Video'">
          <div class="post">
            <!-- post user info -->
            <div class="user-info">
              <a routerLink="/profile/{{item.user_name}}"><img src="../../../assets/image_users/{{item.img_user}}"
                  alt="User Avatar"></a>
              <div class="user-name"><a style="text-decoration: none; color: rgb(20, 20, 20);"
                  routerLink="/profile/{{item.user_name}}">{{ item.user_name }}</a></div>
              <div class="created-at">{{item.time}}</div>
              <div class="setting ">
                <div class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="dropdownId" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false"><img src="../../../assets/icon/setting.svg"></a>
                  <div class="dropdown-menu" aria-labelledby="dropdownId">
                    <a class="dropdown-item" routerLink="/profile/{{item.user_name}}">Profile</a>
                    <a class="dropdown-item" routerLink="/postdetails/{{item.slug}}">Show Details</a>
                    <a class="dropdown-item">Copy Link</a>
                  </div>
                </div>
              </div>
            </div>
            <!-- End post user info -->
            <div class="post-content">
              <div>
                <h3> {{item.title}} </h3>
              </div>
              <div [innerHTML]="item.desc" class="description" [id]="'description-' + item.id"></div>
              <strong (click)="showMore(item.id)" class="read-more" [id]="'read-more-' + item.id"
                style="cursor: pointer;">Read more</strong>
              <strong (click)="showLess(item.id)" class="read-less" [id]="'read-less-' + item.id"
                style="cursor: pointer;">Hidden</strong>
              <div>
                <iframe style=" width:100%; height:336px;" [src]="videoUrl(item.image_post)" frameborder="0"
                  allow="accelerometer;  clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                  allowfullscreen *ngIf="item.type == 'Video'">
                </iframe>
              </div>
            </div>
            <div class="post-footer">
              <!-- <div class="post-footer-item" *ngIf="like.user_like != userauth">
                  <i class="bi bi-heart" (click)="like(item.slug)" style="cursor: pointer;"></i>
                  <span class="like-count">10</span>
                </div>
              
              <div class="post-footer-item" *ngIf="">
                <i class="bi bi-heart-fill" (click)="unlike(item.slug)"  style="cursor: pointer;"></i>
                <span class="like-count">10</span>
              </div> -->
              <div class="post-footer-item">
                <i class="bi bi-chat-left-text" routerLink="/postdetails/{{item.slug}}"
                  style="cursor: pointer; font-size: 1.5rem;"></i>
                <!-- <span class="comment-count">{{ getcomment(item.slug) }}</span> -->
              </div>
              <div class="post-footer-item">
                <span class="post-category">Category: News</span>
              </div>
            </div>

          </div>
        </div>
      </ng-container>
    </div>
    <div class="col-3  sidbarright">
        <app-sidbar-left></app-sidbar-left>
    </div>
</div>
</div>


      <!-- <iframe width="auto" height="auto" src="https://www.youtube.com/embed/bblZjHGhWSg" frameborder="0" allow="accelerometer;  clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> -->